{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- info 1 -->
{{ with .Params.info1 }}
{{ if .enable }}
<section class="about section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
                        {{ with .description }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
                    </div>
                    {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="block">
                    <img src="{{ .image | relURL }}" class="img-responsive" alt="Img">
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
<!-- /info 1 -->

<!-- info 2 -->
{{ with .Params.info2 }}
{{ if .enable }}
<section class="about section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="block">
                    <img src="{{ .image | relURL }}" class="img-responsive" alt="Img">
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
                        {{ with .description }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
                    </div>
                    {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
<!-- /info 2 -->


{{ end }}
